body {
    background-image: url("../images/diamondpattern.jpg");
}


.alignCenter{
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    text-align: center;
}

/* CSS for the instruction's box */
#description {
    background-color: rgba(247, 250, 96, 0.479);
    color: rgb(0, 0, 0);
   
    margin-left: 150px;
    margin-right: 150px;
    line-height: 30px;

    margin-top: 50px;
    padding: 25px 25px 25px 25px;
    border: 10px outset gainsboro;
}

img {
    width: 150px;
}

#randomNumber-div {
    background-color: rgba(196, 116, 243);
    color: rgb(14, 38, 117);
    font-size: 35px;
    text-align: center;
    width: 350px;
    border: 2px outset gainsboro;
}
#total-score-div {
    text-align: center;
    background-color: rgb(12, 174, 185);
    color: white;
    font-size: 35px;
    width: 350px;
    border: 2px outset gainsboro;
}
#score-div {
    background-color: rgba(221, 98, 50);
    color: white;
    width: 350px;
    padding-left: 10px;
    padding-top: 10px;
    line-height: 5px;
    border: 2px outset gainsboro;
}

#crystals-div {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 90px;
}

@media screen and (max-width: 980px) {
    #randomNumber-div {
        margin-top: 10px;
        margin-left: 400px;
        border: 2px outset gainsboro;
    }
    #total-score-div {
        margin-top: 10px;
        margin-left: 150px;
    }
    #score-div {
        margin-top: 10px;
        margin-bottom: 0px;
        margin-right: 200px;
    }
    
    #crystals-div {
        margin-top: 30px;
        margin-bottom: 90px;
    }
}
/* Tablet  */
@media screen and (max-width: 768px) {
    #randomNumber-div {
        margin-top: 10px;
        margin-left: 65px;
        border: 2px outset gainsboro;
    }
    #total-score-div {
        margin-top: 10px;
        margin-left: 35px;
    }
    #score-div {
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: 100px;
    }
    
    #crystals-div {
        margin-top: 30px;
        margin-bottom: 90px;
    }
}