/* CSS for the instruction's box */
#description {
    background-color: rgba(247, 250, 96, 0.479);
    color: rgb(38, 159, 196);
   
    margin-left: 150px;
    margin-right: 150px;
    line-height: 30px;

    margin-top: 50px;
    padding: 25px 25px 25px 25px;
    border: 10px outset gainsboro;
}

.alignCenter{
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    text-align: center;
}

/* down size images */
img {
    width: 150px;
}

#randomNumber-div {
    background-color: rgba(196, 116, 243);
    color: rgb(14, 38, 117);
    font-size: 25px;
    text-align: center;
    border: 2px outset gainsboro;
    padding-left: 10px;
    padding-right: 10px;
}

#total-score-div {
    text-align: center;
    background-color: rgb(12, 174, 185);
    color: white;
    font-size: 25px;
    border: 2px outset gainsboro;
    padding-left: 10px;
    padding-right: 10px;
}

#score-div {
    background-color: rgba(221, 98, 50);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    line-height: 5px;
    border: 2px outset gainsboro;
}

#crystals-div {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 90px;
}

/* R E S P O N S I V E */
@media screen and (max-width: 720px) {
    #description {
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    #description,#randomNumber-div, #total-score-div, #score-div {
        margin: 0;
    }
}

